.reviews
  background-color: #F7F8FD
  padding-bottom: 100px
  &-title
    margin: 0
    font-size: 35px
    color: #160647
    margin-bottom: 115px
  &-content
    position: relative
  &-bg
    position: absolute
    z-index: 10

    &_1
      top: 100px
      left: -140px
    &_2
      top: 100px
      right: 30%

  
.slider
  &-item
    outline: none !important
    &_content
      display: flex
    
      justify-content: space-between
    &_block
      display: flex
      flex-direction: column
      justify-content: space-between
      &-text
        font-size: 18px
        color: #4E5983
        max-width: 488px
        display: inline-block
        line-height: 30px
        margin-bottom: 50px
      &-name
        font-size: 20px
        color: #160647
      &-date
        font-size: 14px
        color: #838BA8
        margin-left: 35px
  &-button
    display: flex
    justify-content: flex-end
    &_next
      margin-left: 25px
  &-btn
    color: #C4C4C4
    &:hover
      color: #A17FFF
      cursor: pointer